.select2-filter-row {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

#changelist-filter ul {
  margin: 0;
  padding: 0 3px;
}

#filter-confirm-row a {
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  color: #fff !important;
  background: #79aec8;
  margin: 10px;
  padding: 10px 15px;
  cursor: pointer;
}
#filter-confirm-row a:hover {
  color: #fff !important;
  background: #609ab6 !important;
}

#filter-confirm-row a.clear {
  background: #ba2121;
}
#filter-confirm-row a.clear:hover {
  background: #a41515 !important;
}
